Repository Study-for-better-than-yesterday/Algorithm, pull requests merged in 2023-01, with the labels that each got.

#24 [Leetcode] 1. Two Sum(Easy)
  Leetcode/Easy/1. Two Sum/amazingtmon.java
Labels: easy, Java

#27 [LeetCode] 14. Longest Common Prefix
  Leetcode/Easy/14. Longest Common Prefix/readme.md
Labels: easy

#25 [LeetCode] 100. Same Tree
  Leetcode/Easy/100. Same Tree/img.png
  Leetcode/Easy/100. Same Tree/img_1.png
  Leetcode/Easy/100. Same Tree/img_2.png
  Leetcode/Easy/100. Same Tree/readme.md
  Leetcode/Easy/100. Same Tree/wanderer-s.kt
Labels: easy, Kotlin

#28 [LeetCode] 14. Longest Common Prefix
  Leetcode/Easy/14. Longest Common Prefix/wanderer-s.kt
Labels: easy, Kotlin
